.section-banner {
    background-color: #2A2C4C;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

.section-login {
    padding: 5rem 0;
    text-align: center;
}

.section-login .login-title {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.section-login .error-message {
    font-size: 1.2rem;
    font-weight: 600;
    color: #f56868;
    margin-bottom: 1rem;
    display: none;
}

.section-login .container-login-form {
    max-width: 400px;
    margin: 0 auto;
}

.section-login .container-login-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section-login .container-login-form form input {
    padding: .5rem;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #777baa;
    outline: none;
}

.section-login .container-login-form form input:focus {
    border-bottom: 1px solid #2A2C4C;
}


.section-login .container-login-form form button {
    padding: .6rem;
    font-size: 1rem;
    background-color: #2A2C4C;
    color: #fff;
    border: none;
    cursor: pointer;
}

.section-login .container-login-form form button:hover {
    background-color: #1e1f3d;
}