.heading-2 {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: .8rem;
    background-color: #2A2C4C;
    color: white;
    padding: .5rem 2rem;
}

.product-list {
    padding: 20px;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 200px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    height: auto;
}

.product-card h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product-card p {
    font-size: 1em;
    color: #333;
}

.product-card .btn-details {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.product-card .btn-details:hover {
    background-color: #0056b3;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-controls button {
    margin: 0 5px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pagination-controls button:hover {
    background-color: #0056b3;
}

.pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}