.section-users-list .container {
    padding: 6rem 0;
    text-align: center;
}

.section-users-list h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.section-users-list .row:nth-child(2) {
    text-align: left;
    margin-bottom: 2rem;
}

.section-users-list .row:nth-child(2) button {
    background-color: #2A2C4C;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.section-users-list .row:nth-child(3) {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.section-users-list .row:nth-child(3) #search {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0rem 1rem;
    font-size: 1.1rem;
}

.section-users-list .row:nth-child(3) .btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #2A2C4C;
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.section-users-list .row:nth-child(3) .btn:hover {
    opacity: 0.8;
}

.section-users-list .row:nth-child(4) .table{
    width: 100%;
    border-collapse: collapse;
}

.section-users-list .row:nth-child(4) .table th {
    background-color: #2A2C4C;
    color: #fff;
    padding: 0.5rem 0;
}

.section-users-list .row:nth-child(4) .table td {
    border: 1px solid #ccc;
    padding: 0.5rem 0;
}